<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <welcome-file-list>
    <welcome-file>IndexServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.mimall.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MIDispatcherServlet</servlet-name>
    <servlet-class>com.mimall.servlet.MIDispatcherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kindServlet</servlet-name>
    <servlet-class>com.mimall.servlet.KindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserProductServlet</servlet-name>
    <servlet-class>com.mimall.servlet.UserProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.mimall.servlet.ProductServlet</servlet-class>
    <init-param>
      <param-name>productImageUploadPath</param-name>
      <param-value>/resources/images</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>com.mimall.servlet.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.mimall.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mimall.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.mimall.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<servlet-class>com.mimall.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MIDispatcherServlet</servlet-name>
    <url-pattern>/MIDispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kindServlet</servlet-name>
    <url-pattern>/KindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProductServlet</servlet-name>
    <url-pattern>/UserProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyCharacterFilter</filter-name>
    <filter-class>com.mimall.filter.MyCharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyCharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>